<h2>Angular Data Table </h2>
<mat-table #table [dataSource]="data">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
    <mat-header-cell *matHeaderCellDef>
      {{ column.alias }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div>
        {{ element[column.name] }}
      </div>
      <ng-template [ngTemplateOutletContext]="{
        column: column,
        element: element
      }" [ngTemplateOutlet]="template">
      </ng-template>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="activeColumns">
  </mat-header-row>
  <mat-row *matRowDef="let row; columns: activeColumns">
  </mat-row>
</mat-table>